
#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: -15rem;
  }
}


/* for the visibility of the toggle bar on the side */

@media only screen and (min-width: 600px) {
  #sidebarToggle {
    visibility: hidden;
  }
  
}

@media only screen and (max-width: 1080px) {
  #sidebarToggle {
    visibility:visible;
  }
  
}
/* BACKGROUND FOR THE INPUTS */
.modal-header{
  background-color: #198754 !important;
  color:white;
  
}

#border-end{

  position: fixed;
  top: 0;
}


/* for the image of automotive content */

@media only screen and (min-width: 600px) {


  .img_autobanner{
    height:250px;
  }
}

@media only screen and (max-width: 1080px) {

  .img_autobanner{
    height:100px;
  }
  
}

/* for the image of ELECTRONICS content */

@media only screen and (min-width: 600px) {


  .img_autobanner{
    height:250px;
  }
}

@media only screen and (max-width: 1080px) {

  .img_autobanner{
    height:100px;
  }
  
}

/* BACKGROUND FOR THE INPUTS POLYTECHNIC */
#cardPoly{
  background-color: #096da2 !important;
  color:white;
  
}

/* BACKGROUND FOR THE INPUTS educ */
#cardeduc{
  background-color:orchid !important;
  color:white;
  
}


/* for the image of coe content */

@media only screen and (min-width: 600px) {


  .img_autobannerbeed, .img_autobannerbsed{
    height:250px;
  }
}

@media only screen and (max-width: 1080px) {

  .img_autobannerbeed, .img_autobannerbsed{
    height:100px;
  }
  
}
